{% extends 'shop/base.html' %}

{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'index'%}">Главная</a> <span class="mx-2 mb-0">/</span> <a href="{% url 'cart'%}">Корзина</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Оформление заказа</strong></div>
        </div>
      </div>
    </div>
<form action="{% url 'checkout' %}" method="post">
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Детали</h2>
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                {% csrf_token %}
                {{ form.as_p }}
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Ваш заказ</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Товар</th>
                      <th>Сумма</th>
                    </thead>
                    <tbody>
                    {% for id, item in cart.items %}
                      <tr>
                        <td>{{item.name}} <strong class="mx-2">x</strong> {{item.amount}}</td>
                        <td>{{item.total_price}} RUB</td>
                      </tr>
                    {% endfor %}
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Общая сумма</strong></td>
                        <td class="text-black font-weight-bold"><strong>{{total_price}} RUB</strong></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="form-group">
                    <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">Оформить заказ</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}