{% extends 'shop/base.html' %}

{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'shop/css/order_status.css' %}">
{% endblock %}
{% block content %}
<div class="site-section order_status">
    <h1 class="mb-3 text-dark">Возвраты</h1>
    {% for id, return_obj in returns.items %}
    <h3 class="mb-3 text-dark"  >Возврат №{{ id }}</h3>
    <h5 class="mb-3 text-dark">Менеджер: {{ return_obj.manager }}</h5>
    <h5 class="mb-3 text-dark">Статус: {{ return_obj.status }}</h5>
    <p class="mb-3 text-dark">Дата: {{ return_obj.date }}</p>
    <div class="container">
        <div class="row mb-5">
            <div class="site-blocks-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">Фото</th>
                        <th class="product-name">Продукт</th>
                        <th class="product-size">Размер</th>
                        <th class="product-price">Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="product-thumbnail">
                            <img src="{{return_obj.image.url}}" alt="Image" class="img-fluid">
                        </td>
                        <td class="product-name">
                            <h2 class="h5 text-black">{{return_obj.name}}</h2>
                        </td>
                        <td>{{return_obj.size}}</td>
                        <td>{{return_obj.price}} RUB</td>
                    </tr>
                    </tbody>
                </table>
                {% if order.status == 'В обработке' %}
                <a href="{% url 'accept_return' id %}" class="btn btn-primary btn-sm">Возврат осуществлен</a>
                <a href="{% url 'cancel_return' id %}" class="btn btn-danger btn-sm">Отказаться от возврата</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}