{% extends 'shop/base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'shop/css/sign_up.css' %}">
{% endblock %}
{% block content %}
<div class="signup">
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <div class="form-error">{{ form.errors }}</div>
        {{ client_form.as_p }}
        <div class="form-error">{{ client_form.errors }}</div>
        <button type="submit" class="btn btn-sm btn-primary">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}